{% extends 'base.html.twig' %}

{% block body %}
    <div {{ react_component('Homepage', { 'fullName': number }) }}>
        Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
    </div>

{% endblock %}
